.card{
    width: 500px;
    height: 300px;
    color: white;
    background: blue;
    margin: 20px;
    .closer{
        display: flex;
        justify-content: end;
    }
   
    .d_flex_jcc_aic{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
        text-align: center;
    }
}

