.buttonAdd{
    width: 90px;
    height: 40px;
    margin: 20px;
    color: white;
    background: blue;
    transition: 1s;
    cursor: pointer;
   
    &:hover{
        color: blue;
        background: white;
        border: 1px solid blue;
    }
}